@charset "ISO-8859-1";

body { 
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.5;
    background: #4169E1;
}

h1{
	font-size: 4em;
	font-family: fantasy;
	background: black;
	color: #fafafa

}


